{% extends 'base.html.twig' %}

{% block body %}
<ul>
        {% for right in rights %}
            <li>{{ right.type }}
                            {#<a href="{{ path('rights_show', { 'id': right.id }) }}">Voir</a>#}
                            {#<a href="{{ path('rights_edit', { 'id': right.id }) }}">Modifier</a>#}
            </li>
        {% endfor %}
</ul>


{% endblock %}
