{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création de droits d'auteurs</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <p>
    </p>
{% endblock %}
