{% extends 'base.html.twig' %}

{% block body %}
    <h1>Droits d'auteur</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ right.type }}</th>
                <td><a href="{{ path('rights_edit', { 'id': right.id }) }}">modifier</a>   {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
