{% extends 'popup.html.twig' %}

{% block body %}
    <h1>Item edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <button type="submit" value="Enregistrer" class="btn btn-primary" title="Sauver">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    </button>
    {{ form_end(edit_form) }}
    <a href="{{ path('items_delete', { 'id': item.id }) }}" class="btn btn-danger" role="button"
       title="Supprimer">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

{% endblock %}
