{% extends 'base.html.twig' %}

{% block body %}
    <h1>Items list</h1>

    <table>
        <thead>
            <tr>

                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
   <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('items_show', { 'id': item.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('items_edit', { 'id': item.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
