{% extends 'popup.html.twig' %}

{% block body %}
<h1>Modifier un lien</h1>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <button type="submit" value="Enregistrer" class="btn btn-primary" title="Sauver">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    </button>
    {{ form_end(edit_form) }}

    <a href="{{  path('link_delete', { 'id': link.id }) }}" class="btn btn-danger" role="button" title="Supprimer">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

{% endblock %}
