{% extends 'base.html.twig' %}

{% block body %}
    <h1>Link creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

<p>
            <a href="{{ path('link_index') }}">Retour à la liste</a>
    </p>
{% endblock %}
