{% extends 'base.html.twig' %}
    {% block dahsbord%}

    {% endblock %}

{% block body %}
    <h1>Categorie</h1>
    <table>
        <tbody>
            <tr>
                <th>{{ category.name }}</th>
                <td><a href="{{ path('category_edit', { 'id': category.id }) }}" TITLE ="Modifier cette catégories">Editer</a>
                    {{ form_start(delete_form) }}</td>
                <td>
                    <button type="submit" value="Supprimer" class="btn btn-danger" title="Supprimer">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    {{ form_end(delete_form) }} </td>
            </tr>
        </tbody>
    </table>



{% endblock %}
