{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ category.name }}</th>
                <td><a href="{{ path('category_edit', { 'id': category.id }) }}">Editer</a>
                    {{ form_start(delete_form) }}</td>
                <td>    <input type="submit" value="Supprimer">
                    {{ form_end(delete_form) }} </td>
            </tr>
        </tbody>
    </table>



{% endblock %}
