{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lexicoms list</h1>

    <table>
        <thead>
            <tr>

                <th>Mot</th>
                <th>Definition</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lexicom in lexicoms %}
            <tr>
                <td>{{ lexicom.mot }}</td>
                <td>{{ lexicom.definition }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lexicom_show', { 'id': lexicom.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('lexicom_edit', { 'id': lexicom.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
