{% extends 'popup.html.twig' %}

{% block body %}

    <table>
        <tbody>
        <tr>
            <th>Mot</th>
            <td>{{ lexicom.mot }}</td>
        </tr>
        <tr>
            <th>Definition</th>
            <td>{{ lexicom.definition }}</td>
        </tr>
        <tr>
            <th>Actions</th>
            <td>
                <a href="{{ path('lexicom_edit', { 'id': lexicom.id }) }}" class="btn btn-info"
                   role="button" title="Modifier"> <span class="glyphicon glyphicon-pencil"
                                                         aria-hidden="true"></span></a>
                <a href="{{ path('lexicom_delete', { 'id': lexicom.id }) }}" class="btn btn-danger" role="button" title="Supprimer">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
