<h1 class="page-header">Tableau de bord de l'Admin</h1>
{% block meta %}
    <meta http-equiv="Refresh" content="10">
{% endblock %}
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h3>{{ nrUser }}</h3>
        <span class="text-muted">Utilisateur(s)</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h3>{{ nrP }}</h3>
        <span class="text-muted">Projet(s)</span>&nbsp;
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h3>{{ nrRights }}</h3>
        <span class="text-muted">Droit(s)</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <h3>{{ nrCat }}</h3>
        <span class="text-muted">Catégorie(s)</span>
    </div>
</div>