<h1 class="page-header">Tableau de bord</h1>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Chapitre</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Personnage</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Lieux</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Note</h4>
        <span class="text-muted">Compteur</span>
    </div>
</div>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Objets</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Evenements</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Liens</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Lexique</h4>
        <span class="text-muted">Compteur</span>
    </div>
</div>