<h1 class="page-header">Tableau de bord {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ app.user.username }}
    {% endif %}</h1>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <h3>{{ nrP }}</h3>
        <span class="text-muted"><span class="glyphicon glyphicon-book" aria-hidden="true"> </span> Projet(s)</span>
    </div>
</div>