<h1 class="page-header">Tableau de bord de l'Admin</h1>
{% block meta %}
    <meta http-equiv="Refresh" content="10">
{% endblock %}
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Projets</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Droits</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Catégories</h4>
        <span class="text-muted">Compteur</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        {#<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
               width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
        <h4>Utilisateurs</h4>
        <span class="text-muted">Compteur</span>
    </div>

</div>