<div class="jumbotron">
    <div class="container text-center">
        {#<h1 class="text-center">Bienvenue !</h1>#}

        <div class="row">
                <img src="{{ asset('images/e-criture_logo.jpg') }}" width="200px" height="200px" alt="E-criture" style="vertical-align:middle; ">
            <h1>Bienvenue chez <span class="text-muted">E-criture </span><em>!</em></h1>
            <p>E-criture est un nouveau type de plateforme complète pour le monde de l’écrit, se proposant de devenir un
                outil efficace d’aide à l’écriture mais aussi plus encore. Alors venez découvrir notre projet pour cela
                c’est simple, inscrivez-vous. </p>
            <div class="form-group text-center">
                <a href="{{ path('user_new') }}" class="btn btn-primary" title="Créer mon compte" role="button">Créer mon compte</a>
            </div>
        </div>

    </div>
</div>