<div class="jumbotron">
    <div class="container">
        <h1>Bienvenue !</h1>
        <p>E-critures est un nouveau type de plateforme complète pour le monde de l’écrit, se proposant de devenir un
            outil efficace d’aide à l’écriture mais aussi plus encore. Alors venez découvrir notre projet pour cela
            c’est simple, inscrivez-vous.  </p>
        <div class="form-group">
            <a href="{{ path('user_new') }}" class="btn btn-primary">Créer mon compte</a>
        </div>

    </div>
</div>