<ul id="menu-accordeon">
    <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Projets</a>
        <ul>
            <li>
            <li> <a href="{{ path('project_index') }}">Liste des projets</a></li>
            </li>
            <li>
                <a href=" {{ path('addproject')}}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>



