<ul id="menu-accordeon">
    <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Projets</a>
        <ul>
            {% for project in projects %}
                <li><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.title }}</a></li>
            {% endfor %}
            <li>
                <a href=" {{ path('addproject') }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>



