
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true"
           aria-expanded="false">
            Projets
            <span class="caret"></span>
        </a>
<ul class="nav nav-sidebar dropdown-menu">
    <li> <a href="{{ path('project_index') }}">Liste des projets</a></li>
    <li><a href=" {{ path('project_new') }}">Ajouter un nouveau projet</a></li>
</ul>
    </li>


