<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            {% include 'default/toogle.html.twig' %}
            {% include 'default/brand.html.twig' %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
            </ul>
            {% include 'default/search.html.twig' %}
        </div>
    </div>
</nav>