{% extends 'site.html.twig' %}
{% block nav %}
    {% include 'default/nav.site.html.twig' %}
{% endblock %}
{% block jumbontron %}
    {% include 'default/jumbontron.html.twig' %}
{% endblock %}
{% block dahsbord%}
 {% endblock %}
{% block body %}
        <div id="container">
            {% include 'default/contenu.page.html.twig' %}
        </div>
    <hr>
    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
