{% extends 'site.html.twig' %}
{% block nav %}
    {% include 'default/nav.site.html.twig' %}
{% endblock %}
{% block jumbontron %}
    {% include 'default/jumbontron.html.twig' %}
{% endblock %}
{% block dahsbord%}
 {% endblock %}
{% block body %}
        <div id="container">
            <div class="row  ">
                <div class="col-md-4 col-md-offset-2" id="aut-mini">
                    <h2>Auteurs</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                        Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#auteur" role="button">Plus... </a></p>
                </div>
                <div class="col-md-4 " id="oeu-mini">
                    <h2>Oeuvres</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                        Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#oeuvre" role="button">Plus... </a></p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 col-md-offset-2" id="lect-mini">
                    <h2>Lecteurs</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#lecteurs" role="button">Plus... </a></p>
                </div>
                <div class="col-md-4 " id="fac-mini">
                    <h2>Facilitateur</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#facilitateur" role="button">Plus... </a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-md-offset-2" id="oeuvre">
                    <h2>oeuvres</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#oeu-mini" role="button">Retour </a></p>
                </div>
                <div class="col-md-8 col-md-offset-2" id="auteur">
                    <h2>Auteurs</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#aut-mini" role="button">Retour </a></p>
                </div>
                <div class="col-md-8 col-md-offset-2" id="lecteurs">
                    <h2>Lecteurs</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#lect-mini" role="button">Retour </a></p>
                </div>
                <div class="col-md-8 col-md-offset-2" id="facilitateur">
                    <h2>Facilitateur</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo sit amet risus.</p>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit amet risus.</p>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#fac-mini" role="button">Retour </a></p>
                </div>
            </div>
        </div>
    <hr>
    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
