<form class="navbar-form navbar-right">
    <label class="sr-only" for="SearchProjec">Trouver dans E-critures</label>
    <input type="text" class="form-control" name="SearchSite" placeholder="Trouver dans E-critures...">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span style="color: white">Welcome <b class="text-capitalize">{{ app.user.username }}</b></span>
        <a href="{{ path('fos_user_security_logout') }} " class="btn btn-danger" title="Déconnexion">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary" title="Connexion">Connexion</a>

    {% endif %}
</form>