# app/config/security.yml

security:
  encoders:
    Symfony\Component\Security\Core\User\User: plaintext
    OCUserBundle\Entity\User: plaintext

  role_hierarchy:
    ROLE_ADMIN:       ROLE_USER
    ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

  providers:
    #in_memory:
      #memory:
        #users:
          #user:  { password: userpass, roles: [ 'ROLE_USER' ] }
          #admin: { password: adminpass, roles: [ 'ROLE_ADMIN' ] }
    main:
      entity:
        class: OCUserBundle\Entity\User
        property: username

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    main_login:
      pattern:   ^/login$
      anonymous: true
    main:
      pattern:   ^/
      anonymous: true
      provider: main
      form_login:
        login_path: login
        check_path: login_check
        default_target_path: /platform
      logout:
        path: logout
        target: /platform


  access_control:
    - { path: ^/admin, roles: ROLE_ADMIN }