{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notes list</h1>

    <table>
        <thead>
            <tr>

                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.titre }}</td>
                <td>{{ note.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('note_show', { 'id': note.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('note_edit', { 'id': note.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
