{% extends 'site.html.twig' %}
{% block nav %}
    {% include 'default/nav.site2.html.twig' %}
{% endblock %}
{% block jumbontron %}
    <div class="col-md-8 col-md-offset-2">
        <h1>Créer votre compte</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" value="Créer" class="btn btn-primary" title="Sauver">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        </button>
        {{ form_end(form) }}
    </div>
{#{% block message %}#}
{#{% endblock %}#}
{% endblock %}
{% block dahsbord%}
{% endblock %}
{% block body %}
    <div id="container">
        <hr>
        {% include 'default/contenu.page.html.twig' %}
    </div>
    <hr>
    {% include 'default/footer.html.twig' %}

{% endblock %}
