{% extends 'popup.html.twig' %}

{% block body %}
    <h1> Evénement</h1>
    <table>
        <tbody>
            <tr>
                <td><b>Date : </b>{{ event.date }}</td>
            </tr>
            <tr>
                <th>Description : </th>
                <td>{{ event.description }}</td>
            </tr>
        <tr><th>Actions</th>
            <td>
                <a href="{{ path('events_edit', { 'id': event.id }) }}">Modifier</a>
                <a href="{{ path('events_delete', { 'id': event.id }) }}" class="btn btn-danger" role="button" title="Supprimer">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
