{% extends 'base.html.twig' %}
    {% block dahsbord%}
        {% include 'default/dashboard.project.html.twig' %}
    {% endblock %}
    {% block nav %}
        {% include 'default/nav.dashboard.html.twig' %}
    {% endblock %}
{% block body %}
    <h2>Table des Matières</h2>
    <ul>
        {% for chapitre in chapitres %}
        <li>
            <a href="{{ path('chapitre_edit', { 'id': chapitre.id }) }}">{{ chapitre.title }}</a>
            <a href="{{ path('chapitre_delete', { 'id': chapitre.id }) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                <span class="hidden">Supprimer</span></a>
        </li>
        {% endfor %}></ul>
    <a href="{{ path('chapitre_new', { 'id': project.id }) }}">Ajouter un nouveau chapitre</a>
{% endblock %}
{% block menuprincipale %}

{% endblock %}
{% block menusecondaire %}

{% endblock %}
