{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chapitre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapitre.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ chapitre.title }}</td>
            </tr>
        <tr>
            <th>action<</th>
            <td>
                <a href="{{ path('chapitre_edit', { 'id': chapitre.id }) }}">Modifier</a>

                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            </td>
        </tr>
        </tbody>
    </table>


{% endblock %}
