{% extends 'base.html.twig' %}
    {% block dahsbord%}
        {% include 'default/dashboard.project.html.twig' %}
    {% endblock %}
{% block body %}
    <h1>Création d'un projet </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

{% endblock %}
{% block menuprincipale %}
    {% include ':default:menu.project.twig' %}
{% endblock %}
