{% extends 'base.html.twig' %}
    {% block dahsbord%}
        {% include 'default/dashboard.project.html.twig' %}
    {% endblock %}
    {% block nav %}
        {% include 'default/nav.dashboard.html.twig' %}
    {% endblock %}
{% block body %}
    <h1>Création d'un projet </h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" value="Créer" class="btn btn-primary">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    </button>
    {{ form_end(form) }}

{% endblock %}
{% block menuprincipale %}

{% endblock %}
{% block menusecondaire %}

{% endblock %}
