{% extends 'popup.html.twig' %}
{% block body %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <table>
        <tr>
            <td>
            <button type="submit" value="Enregistrer" class="btn btn-primary" title="Sauver">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
            </button>
            {{ form_end(edit_form) }}
            <a href="{{ path('perso_delete', { 'id': perso.id }) }}" class="btn btn-danger" title="Supprimer"
               role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
    </table>
{% endblock %}
