{% extends 'base.html.twig' %}

{% block body %}
    <h1>Version creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Créér"/>
    {{ form_end(form) }}

    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('chapitre_show', { 'id': chapitre.id }) }}">retour</a>#}
    {#</li>#}
    {#</ul>#}
{% endblock %}
