{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tags</h1>

    <table>
        <thead>
            <tr>
                <th>Nom du Tag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                          <td>{{ tag.name }}</td>
                <td>
                            {#<a href="{{ path('tag_show', { 'id': tag.id }) }}">Voir</a>&nbsp;#}
                            <a href="{{ path('tag_edit', { 'id': tag.id }) }}">Modifier</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
