{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ tag.name }}</th>
                <td><a href="{{ path('tag_edit', { 'id': tag.id }) }}">Modifier</a> &nbsp;
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
